<h3>Cart</h3>

<a routerLink="/shipping">Shipping Prices</a>

<div class="cart-item" *ngFor="let isi of item">
  <span>{{ isi.name }}</span>
  <span>{{ isi.price | currency }}</span>
</div>

<form [formGroup]="checkForm" (ngSubmit)="submit(checkForm.value)">
    <div>
        <label for="name">
            Nama
        </label>
        <input type="text" id="name" formControlName="name">
    </div>

    <div>
        <label for="address">
            Alamat
        </label>
        <input type="text" id="address" formControlName="address">
    </div>
  <button class="button" type="submit">Purchase</button>
</form>